{% extends 'layout.html' %}

{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
	<h1 align="center">Hospitals On Plnae {{ plane }}</h1>
	<div class="row">
       
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Address</th>
                      <th scope="col">Email</th>
                      <th scope="col">Web Site</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for hospital in data %}
                    <tr>
                        <th scope="row">{{ hospital[0] }}</th>
                        <td>{{ hospital[1] }}</td>
                        <td>{{ hospital[2] }}</td>
                        <td>{{ hospital[3] }} </td>
                        <td><a href="http://{{ hospital[4] }}" class="link-info">{{ hospital[4] }}</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
            </table>
       
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}