{% extends 'layout.html' %}

{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
	<h1 align="center">Claims</h1>
	<div class="row">
       
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                      <th scope="col">Claim_ID</th>
                      <th scope="col">amount</th>
                      <th scope="col">status</th>
                      <th scope="col">Name</th>                      
                    </tr>
                  </thead>

                  <tbody>
                    {% for snap in data %}
                    
                    <tr data-href="/view_claims_{{ snap[0] }}">
                        <th scope="row"><a href="/view_claims_{{ snap[0] }}">{{ snap[0] }}</a></th>
                        <td>{{ snap[1] }}</td>
                        <td>
                          {% if snap[2] == None %}
                          <div class="dropdown">
                            <button class="btn btn-secondary btn-lg mx-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Resolve
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="{{ 'accept_claim_{}'.format(snap[0]) }}">Accept</a></li>
                              <li><a class="dropdown-item" href="{{ 'refuse_claim_{}'.format(snap[0]) }}">Refuse</a></li>
                            </ul>
                            </div>	
                            {% elif snap[2] == "1" %}
                            Accepted
                            {% else %}
                            Refused

                          {% endif %}</td>
                        <td>{{ snap[3] }} </td>
                      </tr></a>
                      {% endfor %}
                  </tbody>
            </table>
       
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}